@media only screen and (min-width: 993px) {
    #main_container {
        display: grid;
        grid-template-rows: 35% 30% 35%;
        grid-template-columns: 50% 50%;
        grid-template-areas: "tasks_current print_preview" "form_upload print_preview" "tasks_history print_preview";
        position: absolute;
        height: 100%;
        width: 100%;
    }

    #form_upload_div {
        grid-area: form_upload;
        padding: 0 10px;
        height: 100%;
    }

    #form_upload {
        height: 100%;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 50% 50%;
        grid-template-areas: "button options";
    }

    #form_upload_input_file {
        grid-area: button;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        border: 2px dashed teal;
    }

    #tasks_current_wrapper {
        grid-area: tasks_current;
        padding: 10px;
    }

    #tasks_history_wrapper {
        grid-area: tasks_history;
        padding: 10px;
    }

    #print_preview {
        grid-area: print_preview;
        padding: 10px;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 992px) {
    #main_container {
        position: absolute;
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }

    #form_upload_input_file {
        margin-bottom: 10px;
        align-self: center;
    }

    #form_upload {
        display: flex;
        flex-direction: column;
    }
}

body {
    display: flex;
    flex-direction: column;
}

#main_container_wrapper {
    flex: 1;
    /* http://stackoverflow.com/questions/18639129/how-to-make-nested-flexboxes-work */
    position: relative;
}

#tasks_current, #tasks_history {
    overflow-y: auto;
    height: 100%;
}

#print_preview {
    display: flex;
    flex-direction: column;
}

select {
    height: auto;
    width: auto;
    padding: 0;
}

.select-printer {
    /*margin: auto;*/
}

#form_upload_card {
    height: 100%;
    margin: 0;
}

#form_upload_card_content {
    height: 100%;
    padding: 15px;
}

#file_dragged_wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#file_dragged_holder {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
}

#file_dragged {
    height: 100%;
    border-radius: 70px;
    border: 10px dashed teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#file_dragged:not(.multiple) #file_dragged_multiple {
    display: none;
}

#file_dragged.multiple #file_dragged_single {
    display: none;
}

#file_dragged_body_cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0.9;
}

body:not(.is-dragover) > #file_dragged_wrapper {
    display: none;
}

.inputfile {
    outline: none;
    width: 0;
    height: 0;
    /*opacity: 0;*/
    /*overflow: hidden;*/
    position: absolute;
    /*z-index: -1;*/
}

#form_upload_options {
    grid-area: options;
    align-self: center;
    justify-self: center;
}

#form_upload_select_number_pages {
    display: inline;
}

label {
    color: black;
}

#print_preview_title_wrapper {
    align-self: center;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    min-height: 30px;
}

#print_preview_title {
    margin-right: 10px;
}

#print_preview_link_to_pdf {
    color: initial;
}

#print_preview_image_wrapper {
    flex: 1;
    /* http://stackoverflow.com/questions/18639129/how-to-make-nested-flexboxes-work */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

#print_preview_image {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid #26a69a;
}

#print_preview_navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
}

table.highlight > tbody > tr:hover {
    background-color: #b2dfdb;
}

.task-with-preview {
    background: #e0f2f1;
}

td {
    padding: 2px 5px;
}

.tiny {
    height: 20px;
    width: 20px;
}

#print_preview_current_page {
    margin-left: 20px;
    margin-right: 20px;
}

.print-preview-navigate:not(.print-preview-navigate-active) {
    opacity: 0;
    transition: opacity 1s;
    cursor: auto;
}

.cursor-default {
    cursor: default;
}

.material-icons {
    user-select: none;
}

.icon {
    vertical-align: middle;
}

#print_preview.loaded #print_preview_loader {
    display: none;
}

#print_preview:not(.loaded) .hide-while-print-preview-loads {
    display: none;
}