html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#main_container_wrapper {
    flex-grow: 1;
    /* http://stackoverflow.com/questions/18639129/how-to-make-nested-flexboxes-work */
    position: relative;
}

#main_container {
    display: grid;
    grid-template-rows: 35% 30% 35%;
    grid-template-columns: 50% 50%;
    position: absolute;
    height: 100%;
    width: 100%;
}

#tasks_current_wrapper {
    grid-row: 1;
    grid-column: 1;
    padding: 10px;
}

#tasks_current, #tasks_history {
    overflow-y: auto;
    height: 100%;
}

#form_upload_div {
    grid-row: 2;
    grid-column: 1;
    padding: 0 10px;
    height: 100%;
}

#tasks_history_wrapper {
    grid-row: 3;
    grid-column: 1;
    padding: 10px;
}

#print_preview {
    grid-row: 1 / 4;
    grid-column: 2;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

select {
    height: auto;
    width: auto;
    padding: 0;
}

.select-printer {
    /*margin: auto;*/
}

#form_upload_card {
    height: 100%;
    margin: 0;
}

#form_upload_card_content {
    height: 100%;
}

#form_upload {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
}

#form_upload_input_file {
    grid-row: 1;
    grid-column: 1;
}

#form_upload_options {
    grid-row: 1;
    grid-column: 2;
}

#form_upload_select_number_pages {
    display: inline;
}

#print_preview_image_wrapper {
    flex-grow: 1;
    /* http://stackoverflow.com/questions/18639129/how-to-make-nested-flexboxes-work */
    position: relative;
}

#print_preview_image {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid #26a69a;
}

#print_preview_navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

table.highlight > tbody > tr:hover {
    background-color: #b2dfdb;
}

.task-with-preview {
    background: #e0f2f1;
}

td {
    padding: 2px 5px;
}

.size-auto {
    height: 20px;
    width: 20px;
}

#print_preview_current_page {
    margin-left: 20px;
    margin-right: 20px;
}

.print-preview-navigate-active {
    color: #00bcd4;
    cursor: pointer;
}