{% extends "with_navbar_centered_content.html" %}

{% block centered %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">Физтех.Печать</span>
            <p>Наш сайт является обёрткой над сайтом <a href="http://print.mipt.ru/">print.mipt.ru</a> — сервисом печати для студентов МФТИ.</p>
            <p>Мы очень старались, чтобы этот сайт получился удобным и красивым.
                <br>Вот некоторые возможности, которых нет на оригинальном сайте:</p>
            {% block list_of_features %}{{ super() }}{% endblock %}
            <p>Пожалуйста, пишите любые предложения и вопросы <a href="mailto:print.diraria@yandex.ru">на почту</a>.
                <br>Также можно оставить предложение в форме ниже: (пока что не работает)</p>
            <form id="form" method="POST" action="/о_сайте">
                <textarea id="form_suggestion" placeholder="Ваше предложение" class="materialize-textarea"></textarea>
                <input id="form_email" placeholder="Email, на который придёт ответ, необязательно">
                <button id="form_button" class="waves-effect waves-light btn">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('#form').ajaxForm({
            success: function () {
                Materialize.toast('<div class="text-align-center">Спасибо за предложение! <br>Мы скоро Вам ответим.</div>');
                $('#form').resetForm();
            },
            error: function (response) {
                Materialize.toast(response.responseText);
            }
        });
    </script>
{% endblock %}