<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Физтех.Печать</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% block head %}{% endblock %}
</head>
<body>

{% block body %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-url/2.4.1/url.min.js"></script>
<script src="/static/framework.js?{{ current_time }}"></script>
{% block script %}{% endblock %}

</body>
</html>