{% extends "with_navbar.html" %}

{% block head %}
    {{ super() }}
    <style>
        #disqus_thread {
            margin: 30px;
        }
    </style>
{% endblock %}

{% block body %}
    {{ super() }}
    <div id="disqus_thread"></div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script>
        var disqus_config = function () {
            this.page.url = 'https://xn----8sbnbhf6cvaflp1a1e.xn--p1ai/';
            this.page.identifier = 'forum';
        };
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://fiztekh-pechat.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
{% endblock %}