{% extends "with_navbar.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/loader.css">
{% endblock %}

{% block body %}
    {#<div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>#}

    {{ super() }}

    <div id="main_container">
        <div id="tasks_current">
            <table>
                <thead>
                <tr>
                    <th>Принтер</th>
                    <th>Файл</th>
                    <th>Страниц</th>
                    <th>Цена</th>
                </tr>
                </thead>

                <tbody id="tasks_current_tbody">
                {#{% for task in user.tasks_current %}
                    <tr data-id="{{ task['id'] }}">
                        <td>
                            <select class="browser-default">
                                {% for printer in printers %}
                                    <option{% if printer == task.printer %} selected{% endif %}>{{ printer }}</option>
                                {% endfor %}
                            </select>
                        </td>

                        <td><a class="button-show-preview">{{ task['file'] }}</a></td>
                        <td>{{ task['number_pages'] }}</td>
                        <td>{{ task['cost'] }}</td>
                        <td><i class="material-icons waves-effect task-action">done</i></td>
                        <td><i class="material-icons waves-effect task-action">clear</i></td>
                    </tr>
                {% endfor %}#}
                </tbody>
            </table>
        </div>

        <div id="form_upload_div">
            <div id="form_upload_card" class="card">
                <div id="form_upload_card_content" class="card-content">

                    <form id="form_upload" method="POST">
                        <div id="form_upload_input_file" class="file-field">
                            <div class="btn">
                                <span>Выберите файл</span>
                                <input type="file" name="file">
                            </div>
                        </div>

                        <div id="form_upload_options">
                            <p>
                                <input type="checkbox" id="form_upload_checkbox_color" name="color" class="filled-in">
                                <label for="form_upload_checkbox_color">Цветная печать</label>
                            </p>
                            <p>
                                <input type="checkbox" id="form_upload_checkbox_land" name="land" class="filled-in">
                                <label for="form_upload_checkbox_land">Альбомная ориентация</label>
                            </p>
                            <p>
                                <input type="checkbox" id="form_upload_checkbox_duplex" name="duplex" class="filled-in">
                                <label for="form_upload_checkbox_duplex">Двусторонняя печать</label>
                            </p>
                            <p>
                                <input type="checkbox" id="form_upload_checkbox_longedge" name="longedge" class="filled-in" checked="checked" disabled="disabled">
                                <label for="form_upload_checkbox_longedge">Длинная сторона</label>
                            </p>

                            <p>Страниц на один лист:
                                <select id="form_upload_select_number_pages" class="browser-default" name="number_pages_on_list">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4">4</option>
                                    <option value="16">16</option>
                                </select></p>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div id="tasks_history" class="green">История заказов</div>

        <div id="print_preview">
            <img id="print_preview_image">
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script>
        {#    let socket = io.connect('http://' + document.domain + ':' + location.port);#}
        {#    socket.on('connect', function () {#}
        {#        socket.emit('my event', {data: 'I\'m connected!'});#}
        {#    });#}

        $(function () {
            // установка обработчиков на форму загрузки файла
            function configureForm() {
                // инициализация <select>
                $('select').material_select();
                // обработчик поддержания состояния #form_upload_checkbox_longedge (неактивен <=> #form_upload_checkbox_duplex выделен)
                $('#form_upload_checkbox_duplex').click(function () {
                    let $formUploadCheckboxLongedge = $('#form_upload_checkbox_longedge');
                    $formUploadCheckboxLongedge.prop('disabled', !this.checked);
                    if (!this.checked) {
                        $formUploadCheckboxLongedge.prop('checked', true);
                    }
                });

                // загрузка файла сразу после выбора
                $('#form_upload_input_file').change(function () {
                    let $formUpload = $('#form_upload')[0];
                    let formData = new FormData($formUpload);
                    $.ajax({
                        type: "POST",
                        url: "/upload",
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            console.log(data);
                            if (data != 'OK') {
                                alert(data);
                            }
                        }
                    });
                    $formUpload.reset();
                    $('#form_upload_checkbox_longedge').prop('disabled', true);
                    return false;
                });
            }

            async function fetchJson(url) {
                let response = await fetch(`${url}`, {credentials: 'same-origin'});
                return await response.json();
            }

            // загружает и обновляет задания
            async function updateTasks(which) {
                let tasks = await fetchJson(`/query/tasks/${which}?num=50`);
                for (let task of tasks) {
                    printers = [];
                    for (let i = 0; i < 8; ++i) {
                        for (let suffix of ['', 'b']) {
                            printer = (i + 1) + suffix;
                            selected = printer == task.printer ? ' selected' : '';
                            printers += `<option${selected}>${printer}</option>`;
                        }
                    }

                    $('#tasks_current_tbody').append(
                        `<tr data-id="${task.id}">
                            <td>
                                <select class="browser-default">
                                    ${printers}
                                </select>
                            </td>

                            <td><a class="button-show-preview">${task.file}</a></td>
                            <td>${task.number_pages}</td>
                            <td>${task.cost}</td>
                            <td><i class="material-icons waves-effect task-action task-action-accept">done</i></td>
                            <td><i class="material-icons waves-effect task-action task-action-reject">clear</i></td>
                        </tr>`);
                }
            }

            function setImage(id, page = '001') {
                $('#print_preview_image').attr('src', `/png/${id}/${page}`);
            }

            function setImageForLastTask() {
                lastTask = $('#tasks_current_tbody>:first');
                if (lastTask.length) {
                    id = lastTask.data('id');
                    setImage(id);
                }
            }

            // загружает текущие задания и устанавливает обработчики
            async function configureCurrentTasks() {
                await updateTasks('current');

                $('.button-show-preview').click(function () {
                    let link = $(this);
                    let linkCell = link.parent();
                    let line = linkCell.parent();
                    let cellNumberPages = linkCell.next();
                    setImage(line.data('id'));
                });

                $('.task-action-reject').on('click', function () {
                    console.log('task-action-reject');
                    let id = $(this).parent().parent().data('id');
                    console.log(id);
                    $.ajax({
                        url: '/query/job/cancel/' + id, success: function (data) {
                            console.log(data);
                        }
                    });
                });

                setImageForLastTask();
            }

            async function init() {
                console.log('init');
                configureForm();
                await configureCurrentTasks();
                {#            $('body').addClass('loaded');#}
            }

            init();
        });
    </script>
{% endblock %}