{% extends "base.html" %}

{% block head %}
    <style>
        .container, #login_div, .valign-wrapper, #or_div {
            height: 100%;
            text-align: center;
        }

        #title {
            position: absolute;
            width: 100%;
            text-align: center;
        }

        #title_link {
            color: #26a69a;
        }

        #container {
            margin-bottom: 0;
        }

        #login_form {
            margin-bottom: 0;
        }

        #login_button {
            margin-bottom: 20px;
        }

        #login_error, #login_loading {
            display: none;
            width: 100%;
            text-align: center;
        }

        #login_error {
            color: red;
        }

        .input-field {
            text-align: left;
        }

        #or {
            width: 100%
        }

        #footer {
            position: absolute;
            bottom: 20px;
            text-align: center;
            width: 100%;
        }
    </style>
{% endblock %}


{% block body %}
    <h1 id="title"><a href="/" id="title_link">Физтех.Печать</a></h1>

    <div id="container" class="row container">
        <div id="login_div" class="col m5 valign-wrapper">
            <div class="card valign">
                <div class="card-content">
                    <span class="card-title">Войдите</span>

                    <form id="login_form" method="POST" class="row">
                        <div class="input-field col m12">
                            <input id="login_login" name="login_login" type="text" autofocus required>
                            <label for="login_login">Логин</label>
                        </div>
                        <div class="input-field col m12">
                            <input id="login_password" name="login_password" type="password" required>
                            <label for="login_password">Пароль</label>
                        </div>
                        <button id="login_button" class="waves-effect waves-light btn" type="submit">Войти</button>
                        <p id="login_loading">Загрузка...</p>
                        <p id="login_error">Неправильный логин или пароль</p>
                    </form>
                </div>
            </div>
        </div>

        <div id="or_div" class="col m2">
            <div class="valign-wrapper">
                <div id="or" class="valign">или</div>
            </div>
        </div>

        <div class="col m5 valign-wrapper">
            <div class="card valign">
                <div class="card-content">
                    <span class="card-title">Зарегистрируйтесь</span>

                    <form id="register_form" method="POST" action="/register" class="row">
                        <div class="input-field col m12">
                            <input id="register_login" name="register_login" type="text" autocomplete="off">
                            <label for="register_login">Логин</label>
                        </div>
                        <div class="input-field col m12">
                            <input id="register_password" name="register_password" type="password">
                            <label for="register_password">Пароль</label>
                        </div>
                        <div class="input-field col m12">
                            <input id="register_password_confirm" name="register_password_confirm" type="password">
                            <label for="register_password_confirm">Повторите пароль</label>
                        </div>
                        <button class="waves-effect waves-light btn" type="submit">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"><a href="/о_сайте">О сайте</a></div>
{% endblock %}

{% block script %}
    {{ super() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script>
        $(function () {
            function goToNextPage() {
                let next_url = url('?next');
                window.location.replace(next_url === undefined ? '/' : next_url);
            }

            $('#login_form').ajaxForm({
                beforeSubmit: function () {
                    $('#login_error').hide();
                    $('#login_loading').show();
                },
                success: function (data) {
                    $('#login_loading').hide();
                    if (data == 'OK') {
                        goToNextPage();
                    } else {
                        $('#login_error').text(data);
                        $('#login_error').show();
                    }
                }
            });

            $('#register_form').validate({
                rules: {
                    register_login: {
                        required: true,
                        remote: {
                            url: '/query/register/login/'
                        }
                    },
                    register_password: {
                        required: true,
                    },
                    register_password_confirm: {
                        required: true,
                        equalTo: '#register_password'
                    }
                },
                messages: {
                    register_login: {
                        required: 'Пожалуйста, введите логин',
                        remote: 'Логин занят'
                    },
                    register_password: 'Пожалуйста, введите пароль',
                    register_password_confirm: {
                        required: 'Пожалуйста, повторите пароль',
                        equalTo: 'Пароли не совпадают'
                    }
                },
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    error.insertAfter(element);
                    error.css('margin-bottom', '20px');
                }
            });

            $('#register_login').on('keyup', function () {
                $('#register_login').valid();
            });

            $('#register_form').ajaxForm({
                success: function (data) {
                    if (data === 'OK') {
                        goToNextPage();
                    } else {
                        Materialize.toast(data.replace(/\. /g, '<br>'));
                    }
                }
            });
        });
    </script>
{% endblock %}