{% extends "with_navbar_centered_content_wrap_content.html" %}

{% block centered_wrap_content %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">Начало разработки</span>
            <p>13 марта 2017 началась разработка нового сайта <a href="https://физтех-печать.рф/">физтех-печать.рф</a>!</p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <span class="card-title">Обновление сервера</span>
            <p>25 мая 2018 сервис переместился на <a href="https://ru.wikipedia.org/wiki/Heroku">Heroku</a>.</p>
            <p>Также адрес сайты был изменён на <a href="https://phystech-print.herokuapp.com">phystech-print.herokuapp.com</a>.</p>
        </div>
    </div>
{% endblock %}