{% extends "with_navbar_centered_content_wrap_content.html" %}

{% block head %}
    {{ super() }}
    <style>
        .form-visa .hidden:not(.show-form-visa) {
            display: none;
        }

        .form-mastercard .hidden:not(.show-form-mastercard) {
            display: none;
        }

        .form-qiwi .hidden:not(.show-form-qiwi) {
            display: none;
        }

        #qiwi-description {
            margin-bottom: 20px;
            max-width: 700px;
        }

        #logos {
            margin-top: 30px;
        }
    </style>
{% endblock %}

{% block centered_wrap_content %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">Пополнение счёта</span>
            <form class="form-visa" action='http://ussp.server.paykeeper.ru/create/' method='POST'>
                <input type='hidden' value='{{ g.user.login }}' name='clientid'/>

                <div class="input-field">
                    <input value="50" name="sum" id="sum" type="number" class="validate" autofocus>
                    <label for="sum">Введите сумму для пополнения:</label>
                </div>
                <div class="input-field">
                    <select name="pstype" id="pstype">
                        <option data-form-state="form-visa" value='rs'>Оплата картой Visa</option>
                        <option data-form-state="form-mastercard" value='rs'>Оплата картой MasterCard</option>
                        <option data-form-state="form-qiwi" value='qiwi'>Оплата QIWI Visa Wallet</option>
                    </select>
                    <label for="pstype">Выберите способ оплаты:</label>
                </div>

                <div class="input-field hidden show-form-qiwi">
                    <input placeholder="+7 999 1234567" name="client_phone" id="client_phone" type="hidden" required>
                    <label for="client_phone">Введите телефон для оплаты:</label>
                </div>
                <p id="qiwi-description" class="hidden show-form-qiwi">Для оплаты со счёта мобильного необходимо после ввода логина и пароля на платёжной странице QIWI выбрать «изменить способ оплаты» и выбрать «С баланса мобильного».</p>
                <div class="text-align-center">
                    <button class="waves-effect waves-light btn">Пополнить счёт</button>
                </div>

                <div id="logos" class="text-align-center">
                    <span class='hidden show-form-visa show-form-mastercard'><img src='http://ussp.server.paykeeper.ru/pic/logos/Visa.png'/></span>
                    <span class='hidden show-form-visa show-form-mastercard'><img src='http://ussp.server.paykeeper.ru/pic/logos/MasterCard.png'/></span>
                    <span class='hidden show-form-visa show-form-qiwi'><img src='http://ussp.server.paykeeper.ru/pic/logos/Qiwi.png'/></span>
                    <br class="hidden show-form-visa hide-on-med-and-down">
                    <span class='hidden show-form-visa show-form-qiwi'><img src='http://ussp.server.paykeeper.ru/pic/logos/BeeLine.png'/></span>
                    <span class='hidden show-form-visa show-form-qiwi'><img src='http://ussp.server.paykeeper.ru/pic/logos/MTS.png'/></span>
                    <span class='hidden show-form-visa show-form-qiwi'><img src='http://ussp.server.paykeeper.ru/pic/logos/Megafon.png'/></span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.0/jquery.form.min.js"></script>
    {{ super() }}
    <script>
        $(function () {
            $('select').material_select();

            $('#pstype').change(function () {
                $('form').removeClass();
                let formState = $(this).find(':selected').data('form-state');
                $('form').addClass(formState);
                $('#client_phone').attr('type', formState === 'form-qiwi' ? 'tel' : 'hidden');
            })
        });
    </script>
{% endblock %}