{% extends "with_navbar.html" %}

{% block nav_title_mobile %}Принтеры{% endblock %}

{% block head %}
    <style>
        @media only screen and (min-width: 993px) {
            /* Основная разметка */
            body {
                display: flex;
                flex-direction: column;
            }

            #main {
                flex: 1;
                /* http://stackoverflow.com/questions/18639129/how-to-make-nested-flexboxes-work */
                position: relative;
            }

            #printers_info, #tabs_wrapper {
                height: 100%;
                width: 50%;
                position: absolute;
                padding-bottom: 10px;
            }

            #tabs_wrapper {
                right: 0;
            }

            #tabs_wrapper .card {
                margin: 10px;
            }

            #printers_info_wrapper, #tabs {
                height: 100%;
                overflow-y: auto;
            }
        }

        @media only screen and (max-width: 992px) {
            #main {
                display: flex;
                flex-direction: column;
            }

            #printers_info {
                order: 2;
            }

            #tabs_wrapper {
                order: 1;
            }

            #printers_history {
                margin-bottom: 0;
            }
        }

        #printers_info {
            padding-top: 10px;
        }

        #printers_info_row {
            margin-bottom: 0;
        }

        /* Информация о принтерах */
        .printer-info-paper-wrapper {
            position: absolute;
            height: 100%;
            right: 10px;
            display: flex;
            align-items: center;
        }

        .printer-info-title {
            text-align: center;
        }

        .printer-status {
            position: absolute;
        }

        /* История заказов */
        .printers_history_row {
            display: table-row;
            height: 50px;
        }

        .printers_history_span {
            display: table-cell;
            vertical-align: middle;
            width: 2em;
        }

        .printers_history_img {
            display: table-cell;
        }

        .waves-effect.card {
            display: block;
        }

        #tabs_wrapper {
            padding: 10px;
        }

        #tabs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        ul {
            padding-left: 20px;
        }

        .emphasized {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
    {{ super() }}

    <div id="main">
        <div id="printers_info">
            <div id="printers_info_wrapper">
                <div id="printers_info_row" class="row">
                    {% for printer in printers %}
                        <div class="col s12 l6">
                            <div class="waves-effect card printer-info-card" data-name="{{ printer.name }}">
                                <div class="printer-info-paper-wrapper">
                                    <img src="/pic/paper.png?pid={{ printer.id }}&time={{ current_time }}" class="printer-info-paper">
                                </div>
                                <div class="card-content">
                                    <svg height="32" width="32" class="printer-status">
                                        <defs>
                                            <linearGradient id="printer_status_gradient_{{ printer.id }}" gradientTransform="rotate(45)">
                                                <stop offset="0%" style="stop-color: white;" stop-opacity="0.5"/>
                                                <stop offset="100%" style="stop-color: {{ printer.status_color }};"/>
                                            </linearGradient>
                                        </defs>
                                        <circle cx="16" cy="16" r="15" fill="url(#printer_status_gradient_{{ printer.id }})"/>
                                    </svg>
                                    <div class="card-title printer-info-title">
                                        <span>Принтер {{ printer.name }}</span>
                                    </div>
                                    <p>{{ printer.textaction }}</p>
                                    <p>Осталось страниц: {{ printer.paperremainder }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="tabs_wrapper">
            <div id="tabs">
                <div></div>
                <div id="tabs_holder">
                    <ul class="tabs">
                        <li class="tab"><a href="#printers_history">История за день</a></li>
                        <li class="tab"><a href="#printers_details">Подробная информация</a></li>
                    </ul>

                    <div id="printers_history" class="card">
                        <div class="card-content">
                            <div id="printers_history_table">
                                {% for printer in printers %}
                                    <div class="printers_history_row">
                                        <span class="printers_history_span">{{ printer.name }}</span>
                                        <img class="printers_history_img" data-src="/pic/activity.png?pid={{ printer.id }}&time={{ current_time }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div id="printers_details">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Принтер <span id="printers_details_name"></span></span>
                                <ul class="browser-default">
                                    <li>Лазерный чёрно-белый принтер <span id="printers_details_model" class="emphasized"></span></li>
                                    <li>Расположение: <span id="printers_details_locationDescription" class="emphasized"></span></li>
                                    <li>Формат бумаги: <span class="emphasized">A4</span></li>
                                    <li>Поддерживается автоматическая <span class="emphasized">двусторонняя печать</span></li>
                                    <li>Скорость печати: до <span id="printers_details_pagesPerMinute" class="emphasized"></span> страниц в минуту</li>
                                    <li>Лоток подачи: <span id="printers_details_numberPagesMax" class="emphasized"></span> страниц</li>
                                    <li id="printers_details_price">Стоимость печати:
                                        <ul class="browser-default">
                                            <li>Односторонняя: от <span id="printers_details_pageCostSingle" class="emphasized"></span> руб.</li>
                                            <li>Двусторонняя: от <span id="printers_details_pageCostDuplex" class="emphasized"></span> руб.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="/static/printersInfo.js?{{ version }}"></script>
    <script>
        function resizePrinterHistoryImages() {
            let width = $('#printers_history_table').width() - $('.printers_history_span').width();
            if (width > 0) {
                $('.printers_history_img').each(function () {
                    this.src = this.dataset.src + `&y=50&x=${width}`;
                });
            }
        }

        resizePrinterHistoryImages();
        window.onresize = resizePrinterHistoryImages;
        setPrinterInfoFor('1');

        function setPrinterInfoFor(printer) {
            let info = printersInfos[printer];
            $('#printers_details_name').text(printer);
            for (let property in info) {
                $(`#printers_details_${property}`).text(info[property]);
            }
        }

        $('.printer-info-card').click(function () {
            setPrinterInfoFor($(this).data('name'));
            $('ul.tabs').tabs('select_tab', 'printers_details');
            $('#tabs_wrapper')[0].scrollIntoView();
        });
    </script>
{% endblock %}