{% extends "with_navbar_centered_content.html" %}

{% block centered %}
    <div class="row">
        <div class="col offset-m3 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Порядок оплаты и возврат средств</span>
                    <p>Оплата печати каждого документа происходит с личного счёта пользователя в системе. Зарегистрированные пользователи могут пополнить свой счёт с помощью любого из <a href='/оплата'>предложенных</a> методов оплаты. При отправке документа на печать (подтверждении печати) из «<a href='/'>Очереди печати</a>» стоимость документа резервируется на счету. При успешной печати зарезервированные средства снимаются с личного счёта. Если в течение двух часов с момента подтверждения документ не будет напечатан по каким-либо причинам, зарезервированная стоимость документа будет возвращена на личный счёт. Напечатанный документ пользователь должен забрать с выбранного при печати принтера.</p>
                    <p>В случае, если документ был напечатан в двухчасовой срок, но качество печати неудовлетворительное из-за неисправности принтера, пользователю рекомендуется обратиться на <a href='/форум'>форум</a>, либо по электронной почте <a href='mailto:contacts@tmg-co.ru'>contacts@tmg-co.ru</a>. При подтверждении неисправности принтера и неудовлетворительного качества печати стоимость печати документа будет возвращена на личный счёт пользователя в течение трёх дней.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}