{% extends "with_navbar_centered_content_wrap_content.html" %}

{% block nav_title_mobile %}Установка драйвера для Windows XP x32{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        .card-content {
            display: flex;
            flex-direction: column;
        }

        .card-content img {
            margin: 1rem auto;
        }

        p {
            max-width: 777px;
        }
    </style>
{% endblock %}

{% block centered_wrap_content %}
    <h3 class="card-title">Установка драйвера для Windows XP x32</h3>

    <div class="card">
        <div class="card-content">
            <span class="card-title">Подключение принтера</span>
            <p>Откройте панель «принтеры и факсы» и вызовите мастер установки принтеров:</p>
            <img src='/pic/docs/xp/XP_screen_1a.gif'>
            <p>Выберите пункт «сетевой принтер»:</p>
            <img src='/pic/docs/xp/XP_screen_1b.gif'>
            <p>Введите URL принтера <b>http://print.mipt.ru:631/printers/future</b> и нажмите «Далее». Если вы получаете сообщение о том, что принтер недоступен ещё до открытия окошка с логином и паролем, попробуйте использовать другой url <b>http://print.mipt.ru/printers/future</b>.</p>
            <img src='/pic/docs/xp/XP_screen_1c.gif'>
            <p>В открывшемся окне введите ваш логин в системе и пароль. Если приглашение ко вводу пароля не открылось, продолжайте установку.</p>
            <img src='/pic/docs/xp/XP_screen_1d.gif'>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <span class="card-title">Установите драйвер</span>
            <p>Если у вас уже установлен драйвер (вы переустанавливаете принтер), то его повторная установка не требуется. Если же драйвера нет, вам будет предложено его установить:</p>
            <img src='/pic/docs/xp/XP_screen_2a.gif'>
            <p>Рекомендуемые драйвера для 32-х битных и 64-х битных версий Windows XP/Vista находятся в <a href='/static/driver.tar'>архиве</a>. Для его открытия вам потребуется WinRar или любой другой архиватор, поддерживающий архивы tar. Разархивируйте драйвер на локальный диск вашего комьютера, например, <b>C:\Temp</b>. Если у вас стоит 32-х битная версия ОС, воспользуйтесь драйвером в папке <b>C:\Temp\driver\x32</b>. Если же у вас 64-х битная система, попробуйте воспользоваться драйвером из папки <b>C:\Temp\driver\x64</b>.</p>
            <img src='/pic/docs/xp/XP_screen_2b.gif'>
            <img src='/pic/docs/xp/XP_screen_2c.gif'>
            <p>Вам предложат выбрать из одного варианта, на что и надо согласиться.</p>
            <img src='/pic/docs/xp/XP_screen_2d.gif'>
            <p>Задав ещё несколько вопросов вроде «вы точно уверены?», ваша система поставит драйвер и откроет окно очереди печати принтера. Не обращайте внимания на него, оно <b>не отображает состояние процесса печати</b>. С помощью него вы можете лишь увидеть, как происходит отправка заказа в систему. Для проверки установки пошлите на печать тестовую страницу. На этом установка закончена, и вы можете приступить к печати...</p>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <span class="card-title">Отправляйте на печать ваши документы</span>
            <p>Из любого приложения, установленного на вашем компьютере, вы сможете печатать:</p>
            <img src='/pic/docs/xp/XP_screen_3a.gif'>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <span class="card-title">Ваши документы появятся в разделе «Очередь печати»</span>
            <p><b>Важно!</b> Все документы, которые вы будете отправлять на только что установленный принтер, будут помещены в очередь печати того пользователя, чей логин и пароль вы указали. Если вы хотите отправить задание в очередь печати к другому пользователю, вы должны будете изменить настройки порта в настройках принтера.</p>
            <p>Для подтверждения печати отосланных документов, Вы должны пополнить счёт. Это можно сделать через <a href='/оплата' target='_blank'>электронные платёжные системы</a>.</p>
            <img src='/pic/docs/xp/XP_screen_4a.png'>
            <!-- <p>Там вы можете увидеть предпросмотр ваших заказов, подтвердить или отменить печать.</p> -->
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <span class="card-title"></span>
        </div>
    </div>
{% endblock %}