{% extends "instruction-template.html" %}

{% block nav_title %}Настройка драйвера{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        .tabs .tab {
            text-transform: initial;
        }

        code {
            display: inline-block;
            padding: 7px;
            margin-bottom: 1rem;
            border: 1px dashed teal;
            background: #e0f2f1;
            word-break: break-all;
        }

        .user, .root, .path {
            user-select: none;
        }

        .user {
            color: blue;
        }

        .root {
            color: red;
        }

        #linux p {
            max-width: 1000px;
        }

        #card-linux {
            max-width: initial;
        }
    </style>
{% endblock %}

{% block nav_content %}
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#windows">Windows XP</a></li>
            <li class="tab"><a href="#windows_vista">Windows Vista</a></li>
            <li class="tab"><a href="#linux">GNU/Linux/MacOS</a></li>
            <li class="tab"><a href="#изменить_драйвер">Изменение драйвера</a></li>
        </ul>
    </div>
{% endblock %}

{% block centered_wrap_content %}
    <div id="windows">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Подключение принтера</span>
                <p>Откройте панель «принтеры и факсы» и вызовите мастер установки принтеров:</p>
                <img src='/pic/docs/xp/XP_screen_1a.gif'>
                <p>Выберите пункт «сетевой принтер»:</p>
                <img src='/pic/docs/xp/XP_screen_1b.gif'>
                <p>Введите URL принтера <b>http://print.mipt.ru:631/printers/future</b> и нажмите «Далее». Если вы получаете сообщение о том, что принтер недоступен ещё до открытия окошка с логином и паролем, попробуйте использовать другой url <b>http://print.mipt.ru/printers/future</b>.</p>
                <img src='/pic/docs/xp/XP_screen_1c.gif'>
                <p>В открывшемся окне введите ваш логин в системе и пароль. Если приглашение ко вводу пароля не открылось, продолжайте установку.</p>
                <img src='/pic/docs/xp/XP_screen_1d.gif'>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <span class="card-title">Установите драйвер</span>
                <p>Если у вас уже установлен драйвер (вы переустанавливаете принтер), то его повторная установка не требуется. Если же драйвера нет, вам будет предложено его установить:</p>
                <img src='/pic/docs/xp/XP_screen_2a.gif'>
                <p>Рекомендуемые драйвера для 32-х битных и 64-х битных версий Windows XP/Vista находятся в <a href='/static/driver.tar'>архиве</a>. Для его открытия вам потребуется WinRar или любой другой архиватор, поддерживающий архивы tar. Разархивируйте драйвер на локальный диск вашего комьютера, например, <b>C:\Temp</b>. Если у вас стоит 32-х битная версия ОС, воспользуйтесь драйвером в папке <b>C:\Temp\driver\x32</b>. Если же у вас 64-х битная система, попробуйте воспользоваться драйвером из папки <b>C:\Temp\driver\x64</b>.</p>
                <img src='/pic/docs/xp/XP_screen_2b.gif'>
                <img src='/pic/docs/xp/XP_screen_2c.gif'>
                <p>Вам предложат выбрать из одного варианта, на что и надо согласиться.</p>
                <img src='/pic/docs/xp/XP_screen_2d.gif'>
                <p>Задав ещё несколько вопросов вроде «вы точно уверены?», ваша система поставит драйвер и откроет окно очереди печати принтера. Не обращайте внимания на него, оно <b>не отображает состояние процесса печати</b>. С помощью него вы можете лишь увидеть, как происходит отправка заказа в систему. Для проверки установки пошлите на печать тестовую страницу. На этом установка закончена, и вы можете приступить к печати...</p>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <span class="card-title">Отправляйте на печать ваши документы</span>
                <p>Из любого приложения, установленного на вашем компьютере, вы сможете печатать:</p>
                <img src='/pic/docs/xp/XP_screen_3a.gif'>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <span class="card-title">Ваши документы появятся в разделе «Очередь печати»</span>
                <p><b>Важно!</b> Все документы, которые вы будете отправлять на только что установленный принтер, будут помещены в очередь печати того пользователя, чей логин и пароль вы указали. Если вы хотите отправить задание в очередь печати к другому пользователю, вы должны будете изменить настройки порта в настройках принтера.</p>
                <p>Для подтверждения печати отосланных документов, Вы должны пополнить счёт. Это можно сделать через <a href='/оплата' target='_blank'>электронные платёжные системы</a>.</p>
                <img src='/pic/docs/xp/XP_screen_4a.png'>
            </div>
        </div>
    </div>

    <div id="windows_vista">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Подключение принтера</span>
                <p>Откройте панель управления и выберите раздел «принтеры и факсы». Воспользуйтесь мастером установки принтеров.</p>
                <img src='/pic/docs/vista/1a.gif'>
                <p>Выберите пункт «сетевой принтер»:</p>
                <img src='/pic/docs/vista/1b.gif'>

                <p>Не дожидайтесь результатов поиска и укажите, что нужный вам принтер не был отображён в списке:</p>
                <img src='/pic/docs/vista/1c.gif'>

                <p>В открывшемся окне выберите пункт «Выбрать общий принтер по имени», введите URL принтера <b>http://print.mipt.ru:631/printers/future</b> и нажмите «Далее»</p>
                <img src='/pic/docs/vista/1d.gif'>

                <p>Введите ваш логин и пароль в системе в ответ на приглашение. Если же приглашение ко вводу пароля не открылось, продолжайте установку. Если <b>вместо</b> приглашения ко вводу пароля у вас открылось окно с настройками tcp/ip порта или вывелось сообщение <b>«Невозможно подключиться к принтеру...»</b> (<b>«Windows can't connect to printer...»</b>) — вам нужно включить Internet Printing Client (<a href='/инструкции/ipp'>инструкция</a>). Если уже при вводе пароля выдаётся сообщение о невозможности подключения - проверьте правильность введённых учётных данных. </p>
                <img src='/pic/docs/vista/1e.gif'>

            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Установите драйвер</span>
                <p>Если у вас уже установлен драйвер (вы переустанавливаете принтер), то его повторная установка не требуется. Если же драйвера нет, вам будет предложено его установить:</p>
                <img src='/pic/docs/vista/2a.gif'>
                <p>Рекомендуемые драйвера для 32-х битных и 64-х битных версий Windows Vista/XP находится в <a href='/static/driver.tar'>архиве</a>. Для его открытия вам потребуется WinRar или любой другой архиватор, поддерживающий архивы tar. Разархивируйте драйвер на локальный диск вашего комьютера, например, <b>C:\Temp</b>. Если у вас стоит 32-х битная версия ОС, воспользуйтесь драйвером в папке <b>C:\Temp\driver\x32</b>. Если же у вас 64-х битная система, используйте драйвер из папки <b>C:\Temp\driver\x64</b>.</p>
                <img src='/pic/docs/vista/2b.gif'>

                <p>Вам будет предложен единственный вариант драйвера. В зависимости от выбранной папки они могут назваться по-разному. Скриншот соответствует установке для 64-х битной системы.</p>
                <img src='/pic/docs/vista/2с.gif'>
                <img src='/pic/docs/vista/2d.gif'>
                <p> Задав ещё несколько вопросов вроде «вы точно уверены?», ваша система поставит драйвер и откроет окно очереди печати принтера. Не обращайте внимания на него, оно <b>не отображает состояние процесса печати</b>. С помощью него вы можете лишь увидеть, как происходит отправка заказа в систему. Для проверки установки пошлите на печать тестовую страницу. На этом установка закончена, и вы можете приступить к печати...</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Отправляйте на печать ваши документы</span>
                <p>Из любого приложения, установленного на вашем компьютере, вы сможете печатать:</p>
                <img src='/pic/docs/vista/3a.gif'>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Ваши документы появятся в разделе «Очередь печати»</span>
                <p><b>Важно!</b> Все документы, которые вы будете отправлять на только что установленный принтер, будут помещены в очередь печати того пользователя, чей логин и пароль вы указали. Если вы хотите отправить задание в очередь печати к другому пользователю, вы должны будете изменить настройки порта в настройках принтера.</p>
                <p>Для подтверждения печати отправленных документов, вы должны пополнить счёт. Вы можете это сделать через <a href='/оплата'> электронные платёжные системы </a>.</p>
                <img src='/pic/docs/vista/4a.png'>
            </div>
        </div>
    </div>

    <div id="linux">
        <div id="card-linux" class="card">
            <div class="card-content">
                <span class="card-title">Установка для GNU/Linux/MacOS</span>
                <p>Вы также можете использовать отдельно установленные CUPS-клиенты или другие механизмы печати, поддерживающие протокол <b>IPP</b> или <b>smb</b>. Инструкции для настройки предоставляются только для CUPS-сервера.</p>
                <p>Предполагается, что у вас установлен, сконфигурирован и запущен <b>CUPS-сервер</b>. Проверить, что сервер запущен, можно командой:</p>
                <code><span class='user'>user@hostname</span><span class='path'> ~ $ </span>lpstat -r</code>
                <p>Если данная команда отвечает, что «Scheduler is running» («Планировщик запущен»), то вы можете приступать к установке принтера. Если же команда сообщает об ошибках, обратитесь к документации для вашего дистрибутива.</p>
                <p>Скачайте файл описания возможностей принтера (<a href='http://print.mipt.ru/printer.ppd'>http://print.mipt.ru/printer.ppd</a>) с нашего сервера:</p>
                <code><span class='root'>root </span><span class='path'> / # </span>wget http://print.mipt.ru/printer.ppd -O /tmp/printer.ppd</code>
                <p>Удостоверившись, что сервер <b>CUPS</b> запущен, от имени суперпользователя исполните команду установки принтера:</p>
                <code><span class='root'>root </span><span class='path'> / # </span> lpadmin -p future -v http://"nick":"password"@print.mipt.ru:631/printers/future -P /tmp/printer.ppd</code>
                <p>Здесь <b>nick</b> — ваше имя пользователя в системе, <b>password</b> — ваш пароль. Если эта команда выполнится успешно, вы сможете печатать. Проверьте это, послав на печать любой файл из вашей системы, например:</p>
                <code><span class='root'>root</span><span class='path'> / # </span>lp -d future /etc/shadow</code>
                <p>Если вы можете видеть вашу пробную страницу в <a href='/'>очереди печати</a>, то установка успешно завершена, но всё равно дочитайте это руководство до конца. Если вы по какой-либо причине не видите заказ в очереди, зайдите на <a href='http://localhost:631/printers'>страницу администрирования <b>CUPS</b></a> и попробуйте установить причину неполадок. Возможно, только что установленный принтер остановлен или не принимает заказы. Запустите его:</p>
                <code><span class='root'>root</span><span class='path'> / # </span>cupsenable future && accept future</code>
                <p>Если вы запустили сервер <b>CUPS</b>, ввели правильный логин и пароль, включили принтер, но у вас не отправляются заказы, вы читали документацию и уверены, что проблема с нашей стороны — обращайтесь к <a href='mailto:contacts@tmg-co.ru'>администраторам ресурса</a>. Возможно, они сумеют вам помочь. Если вы при пробной печати отправили страницу /etc/shadow, рекомендуем вам изучить основные вопросы безопасности Linux.</p>
            </div>
        </div>
    </div>

    <div id="изменить_драйвер">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Изменение драйвера</span>
                <p>При установке драйвера Windows 7 может автоматически определить тип принтера и установить некорректный драйвер. С ним любой отправленный заказ будет иметь статус «не обработано». Чтобы стала возможной печать через драйвер необходимо вручную изменить использующийся драйвер. Для этого:</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Откройте панель управления, выберите «Оборудование и звук»</span>
                <img src='/pic/docs/faq/change_driver_1.png'>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Откройте «Устройства и принтеры»</span>
                <img src='/pic/docs/faq/change_driver_2.png'>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Откройте свойства принтера «future»</span>
                <p>Нажмите правой кнопкой мыши на принтере под названием future, в контекстном меню выберите «Свойства принтера»</p>
                <img src='/pic/docs/faq/change_driver_3.png'>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Выберите вкладку «Дополнительно»</span>
                <p>Если вид диалога другой, вы, скорее всего, нажали «Свойства» вместо «Свойства принтера» на предыдущем этапе.</p>
                <img src='/pic/docs/faq/change_driver_4.png'>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Нажмите на кнопку «Сменить»</span>
                <img src='/pic/docs/faq/change_driver_5.png'>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Укажите наш драйвер</span>
                <p>Установка драйвера описана в <a href='/инструкции/настройка_драйвера#windows_vista' target="_blank">инструкции для Windows 7 / Vista</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}