{% extends "instruction-template.html" %}

{% block centered_wrap_content %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">Оплата студеческой картой Банка Москвы</span>
            <p>Для оплаты студенческой картой Банка Москвы вам нужно получить платежный пароль. Пароль можно получить в любом банкомате банка. Например, в том, который находится в ЛК.</p>
            <p>Подробнее о получении пароля можно прочитать на сайте <a href='http://www.bm.ru/ru/personal/cards/3ds/'>Банка Москвы</a>.</p>
        </div>
    </div>
{% endblock %}