{% extends "instruction-template.html" %}

{% block centered_wrap_content %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">Удаление документов из библиотеки</span>
            <p>В раздел сайта «Библиотека» пользователи системы выкладывают документы, которыми желают поделиться с другими пользователями. Эти материалы общедоступны и индексируются поисковыми системами.</p>
            <p>Если вы обнаружили в поисковой системе, или случайно выложили напечатанный вами документ, который не хотели бы открывать другим пользователям, вы легко можете удалить его из общего доступа. Для этого:</p>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <span class="card-title">Перейдите в очередь печати</span>
            <img src='/pic/docs/faq/delete_shared_1.png'>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <span class="card-title">Введите название документа в окно поиска и нажимте Enter</span>
            <img src='/pic/docs/faq/delete_shared_2.png'>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <span class="card-title">Нажмите на иконку «Убрать из общего доступа» у соответствующего документа</span>
            <img src='/pic/docs/faq/delete_shared_3.png'>
        </div>
    </div>
{% endblock %}